body {
    background-color: grey;
}

.card-container ,.cart-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
    margin-inline: 2em;
}

.card{
    border: white .1em solid;
    text-align: center;
    padding: 1em;
    min-width: 10em;
    max-width: 10em;
}

.card:hover{
    background-color: rgba(0,0,0,.3);
}